.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    background-color:#92E382;
    font-size:20px;
    text-align: center;
    height: 100px;
}
.main {
    padding: 150px; /* 余白を追加 */
}

table {
    width: 70%; /* テーブルの幅を80%に設定 */
    border-collapse: collapse; /* テーブルの線を結合 */
    border: 3px solid black; /* 枠線を太くする */
    margin:0 auto;
    margin-bottom: 20px;
}

.heading {
    font-weight: bold; /* ボールドフォント */
    text-align: center;
    border: 1px solid black;
}

.plan-detail {
    padding:20px;
    font-size:20px;
    color:black;
    font-weight: bold;
    border-radius: 5px;
    margin:auto;
}

.plan-description {
    /* プラン内容のスタイルを設定 */
    border: none; /* プラン内容の線を削除 */
    padding: 10px; /* 余白を追加 */
}

.price-table {
    width: 100%; /* テーブルの幅を100%に設定 */
    border-collapse: collapse; /* テーブルの線を結合 */
    border: 2px solid black; /* 枠線を太くする */
}
.price_heading {
    font-weight: bold; /* ボールドフォント */
    padding:15px;
    border: none; /* 料金の線を削除 */
}

.room-name {
    text-align: center; /* テキストを中央寄せ */
    border: none; /* セルの線を削除 */
    border-top:1px solid black;
    border-right: 1px solid black; /* 右側の線を追加 */
    border-bottom: 1px solid black; /* 下側の線を追加 */
}

.room-price {
    text-align: center; /* テキストを中央寄せ */
    border: none; /* セルの線を削除 */
    border-top:1px solid black;
    border-right: 1px solid black; /* 右側の線を追加 */
    border-bottom: 1px solid black; /* 下側の線を追加 */
}
.reservation-button {
    display: block;
    margin: 0 auto; /* ボタンを水平方向に中央揃え */
    padding: 10px 20px;
    background-color: orange;
    color: black;
    border: 2px solid orange; /* オレンジの枠線 */
    border-radius: 5px; /* 角丸 */
}
.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.paginate .pagination li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.paginate .pagination li a {
    text-decoration: none;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
a {
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s; /* ホバー時のトランジションを設定 */
}

a:hover {
    background-color: black;
    color: white;
}